Acerpro.Business/Connected Services/CountryCurrencyWcfService/CountryCurrency.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Acerpro.Entities.Concreate.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Acerpro.Entities.Concreate.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCountryCurrencyDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CountryCurrencyDto" nillable="true" type="tns:CountryCurrencyDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCountryCurrencyDto" nillable="true" type="tns:ArrayOfCountryCurrencyDto" />
  <xs:complexType name="CountryCurrencyDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActiveFlag" type="xs:boolean" />
      <xs:element minOccurs="0" name="CapitalCityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountryCurrencyDto" nillable="true" type="tns:CountryCurrencyDto" />
  <xs:complexType name="CountryCurrencyCreateDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CapitalCityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountryCurrencyCreateDto" nillable="true" type="tns:CountryCurrencyCreateDto" />
</xs:schema>