Acerpro.Business/Connected Services/CountryCurrencyWcfService/CountryCurrency4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53856/CountryCurrency.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Acerpro.Wcf" />
  <xs:import schemaLocation="http://localhost:53856/CountryCurrency.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Acerpro.Entities.Concreate.Dtos" />
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Acerpro.Wcf" minOccurs="0" name="GetResult" nillable="true" type="q1:ServiceResultOfArrayOfCountryCurrencyDtoNGKS6tMi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Acerpro.Wcf" minOccurs="0" name="GetByIdResult" nillable="true" type="q2:ServiceResultOfCountryCurrencyDtoNGKS6tMi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Acerpro.Entities.Concreate.Dtos" minOccurs="0" name="createDto" nillable="true" type="q3:CountryCurrencyCreateDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Acerpro.Wcf" minOccurs="0" name="SaveResult" nillable="true" type="q4:ServiceResultOfCountryCurrencyDtoNGKS6tMi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Acerpro.Entities.Concreate.Dtos" minOccurs="0" name="updateDto" nillable="true" type="q5:CountryCurrencyDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Acerpro.Wcf" minOccurs="0" name="UpdateResult" nillable="true" type="q6:ServiceResultOfCountryCurrencyDtoNGKS6tMi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Acerpro.Wcf" minOccurs="0" name="GetCountryListResult" nillable="true" type="q7:ServiceResultOfArrayOfCountryCodeAndNameDtoJLzdrnDW" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountryCurrency">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countryIsoCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountryCurrencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Acerpro.Wcf" minOccurs="0" name="CountryCurrencyResult" nillable="true" type="q8:ServiceResultOfCurrencyDtoJLzdrnDW" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapitalCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countryIsoCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapitalCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Acerpro.Wcf" minOccurs="0" name="CapitalCityResult" nillable="true" type="q9:ServiceResultOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountryIsoCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countryName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountryIsoCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Acerpro.Wcf" minOccurs="0" name="CountryIsoCodeResult" nillable="true" type="q10:ServiceResultOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryCurrencyList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isoCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryCurrencyListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Acerpro.Wcf" minOccurs="0" name="GetCountryCurrencyListResult" nillable="true" type="q11:ServiceResultOfArrayOfCountryCurrencyDtoNGKS6tMi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIsoCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isoCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIsoCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Acerpro.Wcf" minOccurs="0" name="GetByIsoCodeResult" nillable="true" type="q12:ServiceResultOfCountryCurrencyDtoNGKS6tMi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>