Acerpro.Ui/Connected Services/AcerproService/CountryCurrency1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Acerpro.Entities.Concreate.Dtos.ServiceDtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Acerpro.Entities.Concreate.Dtos.ServiceDtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCountryCodeAndNameDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CountryCodeAndNameDto" nillable="true" type="tns:CountryCodeAndNameDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCountryCodeAndNameDto" nillable="true" type="tns:ArrayOfCountryCodeAndNameDto" />
  <xs:complexType name="CountryCodeAndNameDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ISOCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountryCodeAndNameDto" nillable="true" type="tns:CountryCodeAndNameDto" />
  <xs:complexType name="CurrencyDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ISOCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CurrencyDto" nillable="true" type="tns:CurrencyDto" />
</xs:schema>